@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  input{
    @apply  ring-1 min-w-10  rounded-lg bg-MLight px-2 text-base text-dark focus:outline-none focus:ring-mVD dark:bg-vDesaturatedD dark:text-lightHD
  }
  html {
    font-family: "Josefin Sans", sans-serif;
  }

  body {
    @apply bg-light dark:bg-mVD;
  }

  .active {
    @apply text-brightBlue;
  }

  .button {
    @apply rounded-full border p-2 text-xl capitalize text-MLight hover:text-light
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
