@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply min-w-10 rounded-lg  bg-mainBgLight px-2 text-base text-textTodoLight ring-1 focus:outline-none focus:ring-active dark:bg-mainBgDark dark:text-textTodoDark;
  }

  html {
    font-family: "Josefin Sans", sans-serif;
  }

  body {
    @apply min-h-screen bg-bgLight dark:bg-bgDark;
  }

  #root {
    @apply min-h-screen;
  }

  .active {
    @apply text-active;
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
